<h2>Компиляторы</h2>
<strong class="error">{{ error }}</strong>

<button type="button" class="btn btn-primary" data-ng-hide="addMode" data-ng-click="toggleAdd()">Добавить компилятор</button>

<div class="row">
    <form name="addCompilator" role="form" data-ng-show="addMode">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" data-ng-model="new.Name" required />
        </div>
        <div class="form-group">
            <label>Language:</label>
            <input type="text" class="form-control" data-ng-model="new.Language" required />
        </div>
        <div class="form-group">
            <label>SourceExtension:</label>
            <input type="text" class="form-control" data-ng-model="new.SourceExtension" required />
        </div>
        <div class="form-group">
            <label>CommandLine:</label>
            <input type="text" class="form-control" data-ng-model="new.CommandLine" required />
        </div>
        <div class="form-group">
            <label>ConfigName:</label>
            <input type="text" class="form-control" data-ng-model="new.ConfigName" required />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="new.IsActive"> IsActive
            </label>
        </div>
        <input type="submit" value="Добавить" data-ng-click="add(new)" data-ng-disabled="!addCompilator.$valid" class="btn btn-primary" />
        <input type="button" value="Отмена" data-ng-click="toggleAdd()" class="btn btn-primary" />
    </form>
</div>

<div class="row">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>SourceExtension</th>
            <th>CommandLine</th>
            <th>ConfigName</th>
            <th>IsActive</th>
            <th></th>
        </tr>

        <tr data-ng-repeat="cur in items">
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.Name }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="text" data-ng-model="cur.Name" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.Language }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="text" data-ng-model="cur.Language" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.SourceExtension }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="text" data-ng-model="cur.SourceExtension" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.CommandLine }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="text" data-ng-model="cur.CommandLine" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.ConfigName }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="text" data-ng-model="cur.ConfigName" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.IsActive }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="checkbox" data-ng-model="cur.IsActive" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode"><a data-ng-click="toggleEdit($index)" href="javascript:;">Редактировать</a> | <a data-ng-click="delete($index)" href="javascript:;">Удалить</a></p>
                <p data-ng-show="cur.editMode"><a data-ng-click="save(cur)" href="javascript:;">Сохранить</a> | <a data-ng-click="toggleEdit($index)" href="javascript:;">Отмена</a></p>
            </td>
        </tr>
    </table>
</div>