<h2>Новости</h2>
<strong class="error">{{ error }}</strong>

<button type="button" class="btn btn-primary" data-ng-hide="addMode" data-ng-click="toggleAdd()">Добавить новость</button>

<div class="row">
    <form name="addNews" role="form" data-ng-show="addMode">
        <div class="form-group">
            <label>Заголовок:</label>
            <input type="text" class="form-control" data-ng-model="new.Title" required />
        </div>
        <div class="form-group">
            <label>Текст:</label>
            <input type="text" class="form-control" data-ng-model="new.Text" required />
        </div>
        <div class="form-group">
            <label>Дата публикации:</label>
            <input type="date" class="form-control" data-ng-model="new.PublicationDate" required />
        </div>
        <input type="submit" value="Добавить" data-ng-click="add(new)" data-ng-disabled="!add$valid" class="btn btn-primary" />
        <input type="button" value="Отмена" data-ng-click="toggleAdd()" class="btn btn-primary" />
    </form>
</div>
<div class="row">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Заголовок</th>
            <th>Текст</th>
            <th>Дата публикации</th>
            <th></th>
        </tr>

        <tr data-ng-repeat="cur in items">
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.Title }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="text" data-ng-model="cur.Title" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.Text }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="text" data-ng-model="cur.Text" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode">{{ cur.PublicationDate | date: 'mediumDate' }}</p>
                <input data-ng-show="cur.editMode" class="form-control" type="date" data-ng-model="cur.PublicationDate" />
            </td>
            <td>
                <p data-ng-hide="cur.editMode"><a data-ng-click="toggleEdit($index)" href="javascript:;">Редактировать</a> | <a data-ng-click="delete($index)" href="javascript:;">Удалить</a></p>
                <p data-ng-show="cur.editMode"><a data-ng-click="save(cur)" href="javascript:;">Сохранить</a> | <a data-ng-click="toggleEdit($index)" href="javascript:;">Отмена</a></p>
            </td>
        </tr>
    </table>
</div>