<article class="card mb-3">
	<div class="card-header text-bg-primary">
		Директор соревнований
	</div>
	<div class="card-body">
		<h4 class="card-title">Рояк Михаил Эммануилович</h4>
		<h6 class="card-subtitle mb-2 text-muted">д.т.н., проф. каф. ПМт НГТУ</h6>
		<address>
			Телефон: <a href="tel:+73833462776">+7 (383) 346-27-76</a><br />
			Email: <a href="mailto:royak@fpm.ami.nstu.ru">royak@fpm.ami.nstu.ru</a><br />
			<a href="mailto:mikeroyak@gmail.com">mikeroyak@gmail.com</a>
		</address>
	</div>
</article>

<article class="card mb-3">
	<div class="card-header text-bg-primary">
		Разработчик системы для соревнований
	</div>
	<div class="card-body">
		<h4 class="card-title">Ступаков Илья Михайлович</h4>
		<h6 class="card-subtitle mb-2 text-muted">
			к.т.н., доцент каф. ПМт НГТУ
		</h6>
		<address>
			Email: <a href="mailto:istupakov@gmail.com">istupakov@gmail.com</a>
		</address>
	</div>
</article>
