<article class="card mb-3">
	<div class="card-header text-bg-primary">
		Contests Director
	</div>
	<div class="card-body">
		<h4 class="card-title">Royak Mikhail Emmanuilovich</h4>
		<h6 class="card-subtitle mb-2 text-muted">DScTech, Professor, Department of Applied Mathematics, NSTU</h6>
		<address>
			Phone: +7 (383) 346-27-76<br />
			Email: <a href="mailto:royak@fpm.ami.nstu.ru">royak@fpm.ami.nstu.ru</a><br />
			<a href="mailto:mikeroyak@gmail.com">mikeroyak@gmail.com</a>
		</address>
	</div>
</article>

<article class="card mb-3">
	<div class="card-header text-bg-primary">
		Contest System Developer
	</div>
	<div class="card-body">
		<h4 class="card-title">Stupakov Ilya Mikhailovich</h4>
		<h6 class="card-subtitle mb-2 text-muted">
			PhD, Associate Professor, Department of Applied Mathematics, NSTU
		</h6>
		<address>
			Email: <a href="mailto:istupakov@gmail.com">istupakov@gmail.com</a>
		</address>
	</div>
</article>
