@page
@{
  ViewData["Title"] = Localizer["Sponsors"];
}
<h1>@ViewData["Title"]</h1>

<div class="row">
  <div class="col m-3">
    <a href="https://t-technologies.ru/">
      <picture>
        <source class="img-fluid" srcset="~/sponsors/T-Technology_logo_rus_black.svg"
          media="(prefers-color-scheme: light)" asp-append-version="true" />
        <source class="img-fluid" srcset="~/sponsors/T-Technology_logo_rus_white.svg"
          media="(prefers-color-scheme: dark)" asp-append-version="true" />
        <img class="img-fluid" src="~/sponsors/T-Technology_logo_rus_black.svg" asp-append-version="true" />
      </picture>
    </a>
  </div>
</div>
