@page
@{
    ViewData["Title"] = Localizer["Sponsors"];
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col m-3">
		<a href="https://www.huawei.com"><img class="img-fluid" src="~/sponsors/sponsor-logo-hw-northern-eurasia.png" asp-append-version="true"></a>
    </div>
</div>
