@model IEnumerable<Competitor>

<ol>
	@foreach (var competitor in Model) {
		<li>
			@competitor.Name
			<partial name="_UserBadge" model="competitor" />
			@if (ViewData["IsManage"] is true) {
				<br />
				<partial name="_ManageCompetitor" model="competitor" />
			}
		</li>
	}
</ol>
