@model User

@if (Model is Competitor { IsApproved: false }) {
	<span class="badge text-bg-info">@Localizer["On verification..."]</span>
}
else if (ViewData["ShowApprovedBadge"] is not false) {
	<span class="badge text-bg-success">@Localizer["Approved"]</span>
}
@if (Model is Competitor { IsOutOfCompetition: true }) {
	<span class="badge text-bg-warning">@Localizer["Out of competition"]</span>
}
@if (Model.IsDisqualified) {
	<span class="badge text-bg-danger">@Localizer["Disqualified"]</span>
}
