@page "{id:int}"
@attribute [Authorize]
@model CodeModel
@{
	ViewData["Title"] = Localizer["View submission"];
}
<h1>@ViewData["Title"]</h1>

<pre>
	<code class="language-@Model.Lang">@Model.Code</code>
</pre>

@section Scripts {
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
}
