@{
    ViewBag.Title = "О проекте";
}
<h2>О проекте OlympSystem</h2>

<p>Система для проведения соревнований по программированию разработана на факультете прикладной математики и информатики НГТУ.</p>
