@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title</h2>

<h3>Директор соревнований</h3>
 д.т.н., проф. каф. ПМт НГТУ Рояк Михаил Эммануилович<br />
<address>    
    <strong>Телефон:</strong> (383) 346-27-76<br />
    <strong>Email:</strong>
    <a href="mailto:royak@fpm.ami.nstu.ru">royak@fpm.ami.nstu.ru</a>,
    <a href="mailto:mikeroyak@gmail.com">mikeroyak@gmail.com</a> <br />
</address>

<h3>Разработчик системы</h3>
Ступаков Илья Михайлович<br />
<address>
    <strong>Email:</strong>
    <a href="mailto:istupakov@gmail.com">istupakov@gmail.com</a><br />
</address>
