@{
    ViewBag.Title = "Главная";
}

<h1>Главная</h1>
<div class="row">
    <div class="col-md-6">
        @Html.Action("NewsByYear", new { year = ViewBag.Year })
    </div>
    <div class="col-md-6">
        @Html.Action("ContestsByYear", new { year = ViewBag.Year })
    </div>
</div>

