@page
@model ConfirmEmailChangeModel
@inject IStringLocalizer<IdentityUIResources> Localizer
@{
	ViewData["Title"] = Localizer["Confirm email change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
