@page
@model RegisterConfirmationModel
@inject IStringLocalizer<IdentityUIResources> Localizer
@{
	ViewData["Title"] = Localizer["Register confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
	@Localizer["Please check your email to confirm your account."]
</p>
