@page
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<IdentityUIResources> Localizer
@{
	ViewData["Title"] = Localizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
	@Localizer["Your password has been reset."] <a asp-page="./Login">@Localizer["Please click here to log in."]</a>
</p>
